.form_group {
  width: $width_full;
  div {
    @include dynamicAlign($justify: space-between, $align: center);
  }
  p {
    margin-bottom: $margin;
  }
  &_list_input {
    @include dynamicAlign($direction: column!important);
    div {
      width: $width_full;
    }
  }
  &_add_color {
    margin-top: $margin * 2;
    flex-direction: column !important;
    span {
      width: $width_full;
      height: 0.1rem;
      background: $color_gray_light;
      margin-top: $margin;
    }
    div {
      width: $width_full;
      &:last-child {
        justify-content: center;
      }
    }
  }
  &_display_color {
    display: block;
    width: 10rem;
    height: 3rem;
    border-radius: $border_radius;
  }
}
