.notification {
  &::after {
    content: "";
    @include dynamicPosition(
      $pos: fixed,
      $top: 0,
      $left: 0,
      $right: 0,
      $bottom: 0
    );
    background: rgba($color_milk, 0.5);
    z-index: 9;
  }
  .content {
    @include dynamicPosition(
      $pos: fixed,
      $top: 5rem,
      $left: 50%,
      $transform: translateX(-50%)
    );
    @include dynamicAlign(
      $justify: center,
      $align: center,
      $direction: column,
      $gap: $padding * 2
    );
    z-index: 13;
    background: $color_white;
    width: 30%;
    padding: $padding;
    border-radius: $border_radius;
    box-shadow: $box_shadow;

    p {
      font-size: $font_size;
    }

    button {
      padding: 1rem 4rem;
      background: transparent;
      border: 0.1rem solid $color_gray;
      font-size: $font_size;
      border-radius: $border_radius;
      transition: $transition;
      cursor: pointer;
      &:hover {
        background: $color_black;
        color: $color_white;
      }
    }

    .btns {
      @include dynamicAlign();
    }
  }
}
