@mixin dynamicAlign(
  $justify: start,
  $align: start,
  $gap: $gap,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin dynamicPosition(
  $pos: unset,
  $left: unset,
  $right: unset,
  $top: unset,
  $bottom: unset,
  $transform: unset
) {
  position: $pos;
  left: $left;
  right: $right;
  bottom: $bottom;
  top: $top;
  transform: $transform;
}

@mixin animateOpacity() {
  animation: animate 0.3s linear;
  @keyframes animate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
