// color
$color_black: #0d0d0d;
$color_milk: #f2f2f2;
$color_blue: #a7d9cb;
$color_gray_dark: #a1a1a6;
$color_gray: #a1a1a6;
$color_gray_light: #c7bbf2;
$color_white: #ffffff;
$color_red: #f93535;
$color_hover_black: #0d0d0de6;
$color_overlay_milk: #f2f2f2bd;

// transition
$transition: all 0.3s ease;

// box shadows
$box_shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);

// font size
$font_size: 1.6rem;

// spacing
$padding: 1rem;
$margin: 1rem;
$gap: 1rem;
$width_full: 100%;
// border
$border_default: 0.1rem solid $color_gray;
$border_radius: 1rem;
